<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title><%= title%></title>
  <link rel="shortcut icon" href="/assets/images/icons/favicon.ico"/>
  <link rel="bookmark" href="/assets/images/icons/favicon.ico"/>
  <link rel="stylesheet" href="/assets/plugins/layui/css/layui.css"/>
  <script type="text/javascript" src="/assets/plugins/jquery.min.js"></script>
  <script type="text/javascript" src="/static/admin/FFAdmin.js"></script>
</head>
<body>

</body>
<script type="text/javascript" src="/assets/plugins/layui/layui.js"></script>
</html>
